

.logo{

position: fixed;
height:auto;
left: 0px;
width:250px;
}


.nav-buttons {

position:centered;
height:auto;
right: 0px;
width:250px;


}

div {
    background-color: rgba(100,100,100,0.2);
    background-clip: content-box;
    padding: 10px;
    min-height: 100px;
} 